# 02장 파이썬 프로그래밍의 기초, 자료형
## 02-1 `숫자형` 자료형
### 숫자형을 활용하기 위한 연산자

#### 1. 사칙연산

In [3]:
a=3
b=4
a+b

7

#### 2. x의 y제곱을 나타내는 ** 연산자

In [4]:
a = 3
b = 4
a ** b

81

#### 3. 나눗셈 후 나머지를 반환하는 % 연산자

In [77]:
10 % 4

2

#### 4. 나눗셈 후 몫을 반환하는 // 연산자

In [78]:
7 // 4

1

## 02-2 `문자형` 자료형
### 문자열 만들기

1. 큰따옴표로 양쪽 둘러싸기
2. 작은따옴표로 양쪽 둘러싸기
3. 큰따옴표 3개 연속으로 써서 양쪽 둘러싸기
4. 작은따옴표 3개 연속으로 써서 양쪽 둘러싸기

#### 여러 줄인 문자열을 변수에 대입하고 싶을 때

1. 이스케이프 코드 /n 삽입하기
2. 연속된 작은따옴표 3개 또는 큰따옴표 3개 사용하기

In [2]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [3]:
multiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

#### 이스케이프 코드
- \n : 문자열 안에서 줄을 바꿀 때 사용
- \t : 문자열 사이에 탭 간격을 줄 때 사용
- \\ : 문자 \를 그대로 표현할 때 사용

### 문자열 연산하기
#### 문자열 더해서 연결하기

In [4]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

#### 문자열 곱하기

In [5]:
a = "python"
a * 2

'pythonpython'

#### 문자열 곱하기 응용

In [6]:
#multistring.py

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

입력한 소스는 C:\doit 디렉터리에 파일 이름 multistring.py로 저장하자

프로그램 실행
[윈도우 + R(실행) -> cmd 입력 -> Enter] 눌러서 명령 프롬프트 창 열고 다음 실행
아래의 결과값이 나올 것

C:\Users>cd C:\doit

C:\doit>python multistring.py

#### 문자열 길이 구하기

In [7]:
a = "Life is too short"
len(a)

17

### 문자열 `인덱싱`과 `슬라이싱`
 - Indexing : 가리킨다
 - Slicing : 잘라낸다

#### 문자열 인덱싱

In [8]:
a = "Life is too short, You need Python"

위의 코드에서 변수 a에 저장한 문자열의 각 문자마다 번호를 매겨 보면 다음과 같다
Life is too short, You need Python
0123456789012345678901234567890123

In [9]:
a[3] #문자열 안의 특정한 값을 뽑아내는 역할 = Indexing

'e'

### "*파이썬은 0부터 숫자를 센다*"

In [11]:
a[-2] #뒤에서부터 두 번째 문자

'o'

#### 문자열 슬라이싱

In [12]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [13]:
a = "Life is too short, You need Python"
a[0:4] #a[시작 번호 : 끝 번호] : 문자열 처음부터 끝 번호까지 뽑아낸다

'Life'

In [14]:
a[19:-7] #a[19]부터 a[-8]까지를 의미함

'You need'

#### 슬라이싱으로 문자열 나누기

In [16]:
a = "20010331Rainy"

#숫자 8을 기준으로 문자열 a를 양쪽으로 한 번씩 슬라이싱

date = a[:8] #a[8] 포함되지 않음
weather = a[8:] #a[8] 포함됨
date

'Rainy'

In [17]:
weather

'Rainy'

#### "Pithon"이라는 문자열을 "Python"으로 바꾸려면?

In [18]:
a = "Pithon"
a[:1]

'P'

In [19]:
a[2:]

'thon'

In [20]:
a[:1] + "y" + a[2:]

'Python'

### 문자열 `포매팅`
#### 문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 가능하게 해주는 것

#### 문자열 포매팅 따라하기
#### 1. 숫자 바로 대입

In [24]:
#문자열 안에 숫자를 넣고 싶은 자리에 %d 문자 넣어주기
#삽입할 숫자 3은 가장 뒤에 있는 % 문자 다음에 넣어주기

"I eat %d apples." % 3

'I eat 3 apples.'

#### 2. 문자열 바로 대입

In [25]:
#문자열 안에 문자를 넣고 싶은 자리에 %s 문자 넣어주기
#삽입할 문자 five는 가장 뒤에 있는 % 문자 다음에 넣어주기

"I eat %s apples." % "five"

'I eat five apples.'

#### 3. 숫자 값을 나타내는 변수로 대입

In [26]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

#### 4. 2개 이상의 값 넣기

In [28]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

#### `문자열 포맷 코드`
- %s : 문자열 (string)
- %c : 문자 1개 (character)
- %d : 정수 (integer)
- %f : 소수
- %% : 문자 % 자체

In [80]:
"Error is %d%." % 98 #오류 발생

#문자열 포맷 코드인 %d와 %가 같은 문자열에 존재하는 경우,
#%를 나타내려면 반드시 %%로 써야 하는 법칙 존재

ValueError: incomplete format

In [30]:
"Error is %d%%." % 98

'Error is 98%.'

#### 포맷 코드와 숫자 함께 사용하기
#### 1. 정렬과 공백

In [32]:
#전체 길이가 10개인 문자열 공간에 대입되는 값을 오른쪽으로 정렬하고
#나머지는 공백으로 남겨 두라는 의미

"%10s" % "hi"

'        hi'

In [33]:
#왼쪽 정렬

"%-10sjane." % 'hi'

'hi        jane.'

#### 2. 소수점 표현하기

In [35]:
 "%0.4f" % 3.42134234 #소수점 뒤에 나올 숫자 개수 = 4

'3.4213'

In [36]:
"%10.4f" % 3.42134234

'    3.4213'

#### `format 함수`를 사용한 포매팅
#### 숫자 바로 대입하기

In [37]:
"I eat {0} apples".format(3)

'I eat 3 apples'

#### 문자열 바로 대입하기

In [38]:
"I eat {0} apples".format("five")

'I eat five apples'

#### 숫자 값을 가진 변수로 대입하기

In [39]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

#### 2개 이상의 값 넣기

In [40]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

#### 이름으로 넣기

In [41]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

#### 인덱스와 이름을 혼용해서 넣기

In [42]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

#### 왼쪽 정렬

In [43]:
# :<10 표현식 사용 : 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수 10

"{0:<10}".format("hi")

'hi        '

#### 오른쪽 정렬

In [ ]:
# :>10 표현식 사용 : 치한되는 문자열 오른쪽으로 정렬하고 문자열 총 자릿수 10

"{0:>10}".format("hi")

#### 가운데 정렬

In [44]:
# :^ 표현식 사용 : 가운데 정렬

"{0:^10}".format("hi")

'    hi    '

#### 공백 채우기

In [45]:
#채워 넣을 문자 값은 정렬 문자(<, >, ^) 바로 앞에 넣어주기

"{0:=^10}".format("hi") # 빈 공간을 = 문자로 채우기

'====hi===='

In [46]:
"{0:!<10}".format("hi") #빈 공간을 ! 문자로 채우기

'hi!!!!!!!!'

#### 소수점 표현하기

In [47]:
y = 3.42134234
"{0:0.4f}".format(y) #소수점 4자리까지 표현

'3.4213'

In [48]:
"{0:10.4f}".format(y)

'    3.4213'

#### { 또는 } 문자 표현하기

In [ ]:
#format 함수를 이용하여 문자열 포매팅을 할 경우
#중괄호를 {{ }} 연속으로 2개를 사용하면 됨

"{{ and }}".format()

#### f 문자열 포매팅

In [49]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [50]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [51]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [52]:
f'{"hi":<10}' #왼쪽 정렬

'hi        '

In [53]:
f'{"hi":>10}' #오른쪽 정렬

'        hi'

In [54]:
f'{"hi":^10}' #가운데 정렬

'    hi    '

In [55]:
f'{"hi":=^10}' #가운데 정렬하고 '=' 문자로 공백 채우기

'====hi===='

In [56]:
f'{"hi":!<10}'  #왼쪽 정렬하고 '!' 문자로 공백 채우기

'hi!!!!!!!!'

In [57]:
 y = 3.42134234
f'{y:0.4f}'  #소수점 4자리까지만 표현

'3.4213'

In [58]:
f'{y:10.4f}'  #소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

In [59]:
f'{{ and }}'

'{ and }'

### 문자열 관련 함수들

#### 문자 개수 세기 (`count`)

In [60]:
a = 'hobby'
a.count('b') #문자열 중 'b'의 개수

2

#### 위치 알려주기(1) (`find`)

In [61]:
a = "Python is the best choice"
a.find('b')

14

In [62]:
a.find('k') #찾는 문자나 문자열이 존재하지 않는다면 -1 반환

-1

#### 위치 알려주기(2) (`index`)

In [64]:
a = "Life is too short"
a.index('t')

8

In [65]:
a.index('k') #문자열 안에 존재하지 않는 문자를 찾으면 오류 발생

ValueError: substring not found

#### 문자열 삽입 (`join`)

In [66]:
",".join('abcd')

'a,b,c,d'

In [67]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

#### 소문자를 대문자로 바꾸기 (`uppper`)

In [68]:
a = "hi"
a.upper()

'HI'

#### 대문자를 소문자로 바꾸기 (`lower`)

In [81]:
a = "HI"
a.lower()

'hi'

#### 왼쪽 공백 지우기 (`lstrip`)

In [71]:
a = " hi "
a.lstrip()

'hi '

#### 오른쪽 공백 지우기 (`rstrip`)

In [72]:
a.rstrip()

' hi'

#### 양쪽 공백 지우기 (`strip`)

In [73]:
a.strip()

'hi'

#### 문자열 바꾸기 (`replace`)

In [74]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

#### 문자열 나누기 (`split`)

In [75]:
a.split()  #공백(스페이스, 탭, 엔터) 기준으로 문자열 나누기

['Life', 'is', 'too', 'short']

In [76]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']